@import "screens";

$bg-color-dark: #252525;
$tx-primary-color-dark: #F8F8F8;
$tx-secondary-color-dark: #AAA;
$border-dark: #404040;
$link-color: #38BDF8;

$common-top-padding: 3rem;
$border: 1px solid $border-dark;

body {
	font-family: "Open Sans", "Inter", sans-serif;
	background-color: $bg-color-dark;
	display: flex;
	flex-direction: row;
	@include md { flex-direction: column; }
	@include sm { flex-direction: column; }
	padding: 0 0 0 1rem;
	margin: 0;
	height: 100vh;
}

nav {
	display: block;
	@include md { 
		display: flex;
		flex-direction: row;
		column-gap: 2rem; 
	}
	flex: 0 0 15%; // cannot grow, can shrink
	@include md { flex: none; }
	overflow-y: scroll;
	margin-right: 4rem;
	@include md { margin: 0; }
	padding: $common-top-padding 2rem $common-top-padding 1.5rem;
	@include md { padding: 1.5rem 0; }
	border-right: $border;
	@include md {
		border-right: none;
		border-bottom: $border;
	}

	.mobile-only {
		display: none;
		@include md { display: block; }
	}

	a {
		text-decoration: none;
	}

	.header {
		font-size: 0.875rem;
		margin-top: 0;
		margin-bottom: 2rem;
		@include md { margin-bottom: 0; }
		color: $tx-primary-color-dark;

		a {
			color: $tx-primary-color-dark;
			text-decoration: none;
		}

		a:hover, a:focus {
			text-decoration: underline;
		}
	}

	.active {
		font-weight: bold;
	}

	ul {
		display: block;
		@include md { display: none; }
		flex-wrap: wrap;
		list-style: none;
		padding: 0;

		li {
			margin-bottom: 0.6rem;
		}
		
		a {
			font-size: 0.875rem;
			color: $tx-secondary-color-dark;
			line-height: 1.5;
		} 
	}
}

main {
	display: block;
	@include md { margin-top: 0; }
	flex-grow: 1;
	padding-top: $common-top-padding;
		padding-bottom: $common-top-padding;
	padding-right: 4rem;
	@include md { padding: 2rem 0.5rem; }
	justify-content: flex-start;
	overflow-y: scroll;
}

article {
	max-width: 80ch; // for optimal readability
	color: $tx-primary-color-dark;

	.tasklist {
		margin-left: 0;
		list-style-type: none;
	}
	
	
	  // Credits to new.css
	  address,
	  area,
	  aside,
	  audio,
	  blockquote,
	  datalist,
	  details,
	  dl,
	  fieldset,
	  figure,
	  form,
	  input,
	  iframe,
	  img,
	  meter,
	  nav,
	  ol,
	  optgroup,
	  option,
	  output,
	  p,
	  pre,
	  progress,
	  ruby,
	  section,
	  table,
	  textarea,
	  ul,
	  video {
	  	margin-bottom: 0.5rem;
	  }
	
	  img {
	    display: block;
	    width: 50%;
	    @include lg { width: 70%; }
	    @include sm { width: 100%; }
	    margin: auto;
	  }
	
	  h2, h3, h4, h5 {
	      margin: 1.5rem 0;
	      line-height: 1.2;
	  }

	  // There is only one h1 per
	  // page, used for the title
	  h1 {
	  	font-size: 1.5rem;
	  	margin: 0 0 1.5rem 0; // only bottom margin for alignment
	  }

	  h2 {
	  	font-size: 1.2rem;
	  }

	  h3 {
	  	font-size: 1.15rem;
	  }

	  h4 {
	  	font-size: 1.05rem;
	  }

	  h5 {
	  	font-size: 0.9rem;
	  }

	  h6 {
	  	font-size: 0.875rem;
	  }
	  
	  th, td, p, li {
	    font-size: 0.875rem;
	    line-height: 1.7;
	  }

	  a {
	  	color: $link-color;
	  }

	  ul {
	  	padding-left: 0.5rem;
	  }

	  li {
	  	margin-left: 0.5rem;
	  }

	  // Note that if this does not work,
	  // there is a JavaScript polyfill
	  // that runs instead
	  @supports selector(:has(*)) {
	  	margin-left: 0;
	  	list-style-type: none;
	  }
	
	  pre {
	    padding: 1rem 1.5rem;
	    border-radius: 0.25rem;
	  }
	
	  pre code {
	    display: block;
	    width: 100%;
	    overflow-x: auto;
	  }
	
	  .return-link {
	    margin-top: 1.2rem;
	  }

	  blockquote {
	  		margin: 0;
			padding-left: 1rem;
			border-left: 3px solid rgba(255, 255, 255, 0.3);
	  }
	
	  table {
	  		border-collapse: collapse;
	  	}
	  
	  	table caption {
	  		font-weight: bold;
	  		margin-bottom: 0.5rem;
	  	}
	  
	  	td, th {
	  		text-align: left;
	  		padding: 0.5rem;
	  	}
	  
	  	tr {
	  		border-bottom: 1px solid $border-dark;
	  	}
}
